<div class="shortcut-container new-window" title="{$model_main_title}" data-url="{if $model_use_own_view_url === true}{$model_own_view_url}{else}{$app_url}/{$admin_title}/view/{$model_main_id}{/if}">
	<div class="shortcut-icon width100"><img width="40" src="{$static_url}/{$theme_folder}/icons/{$model_main_icon}" class="" /></div>
	<div class="shortcut-text">{$model_main_title}</div>
</div>